<!--[if true]>
<table role="presentation" width="700" align="center" cellpadding="0" cellspacing="0" border="0" style="margin: auto;background: {{settings.bg_heading}}";">
    <tr>
    	<td width="100%">
<![endif]-->
<div id="email" style="font-family: sans-serif; width: 700px; margin: auto; margin-bottom: 1px; background: {{settings.bg_heading}};">   
    <table role="presentation" border="0" width="100%" cellspacing="0" style="font-family: sans-serif;">
      <tr style="font-family: sans-serif;">
        <td align="center" style="font-family: sans-serif; color: rgb(255, 255, 255);">        
          <h1 style="font-size: 42px; margin: 20px 0 20px 0; font-family: sans-serif;">
            {{title}}
          </h1>
        </td>
      </tr>        
    </table> 
</div>
<!--[if true]>
        </td>
    </tr>
</table>
<![endif]-->